/*BAGIAN NAVBAR*/
.navbar {
    background: #ffff;
    height: 100px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 0.1);
}

.navbar>h1 {
    font-size: 38px;
    color: #E62F2A;
    font-weight: bolder;
}

nav ul {
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a:hover {
    transition: 0.5s ease;
    color: #E62F2A;
    transition: 0.3s;
}

nav ul li a {
    color: #252525;
    font-weight: bold;
    text-align: center;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

/*course*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.About > div {
    color: #252525;
    font-size: 18px;
    text-align: justify;
    line-height: 30px; 
}

hr{
    border: 1px solid;
    color: #E62F2A;
}

/*isi About*/
.About {
    padding: 0 10%;
    margin: 0 auto;
}
  
.About h4, .About p, .About h3 {
    text-align: justify;
}
  
.About p {       
    font-size: 16px;
    margin-bottom: 10px;
}

/*FOOTER*/
.footer-final {
    margin-top: 100px;
    height: 80px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content:center;
    background: #e2e2e2;
}

footer>div {
    display: flex;
    gap: 30px;
}

footer p{
    color: black;
}

@media only screen and (max-width: 480px){

    .courses-box{
        flex-wrap: wrap;
        width: 72%;
        grid-template-columns: 1fr;
    }

    .courses-box > img{
        width: 100%;
        margin-bottom: 5px;
    }

    .courses-box h1{
        font-size: 16px;
    }

    .courses-box p{
        font-size: 12px;
        font-weight: 100;
    }

    nav.navbar {
        flex-wrap: wrap;
        height: 100%;
        font-size: 10px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }

    nav ul li{
        flex-wrap: wrap;
        height: 100%;
        font-size: 11px;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;

    }

    .footer-final {
        flex-wrap: wrap;
        height: 100%;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
}